.journal {
  margin-top: -20px;
}
.journal img {
  width: 300px;
  float: left;
  margin-left: 50px;
  padding: 20px;
}
.entries {
  text-align: left;
  height: 250px;
  margin-right: 50px;
  vertical-align: middle;
}

#avatarImg {
  width: 300px;
  float: right;
  margin-right: 450px;
}
h1 {
  padding-bottom: 10px;
}
ul {
  width: 350px;
}
footer {
  clear: both;
}
