section {
  width: 90%;
  position: relative;
  margin: 0 auto;
}
h1 {
  position: relative;
  text-align: center;
}
article img {
  max-width: 400px;
  height: 200px;
  display: inline-block;
  padding: 20px;
}
#journal1 {
  padding-top: 5%;
}
#journal2 {
  padding-top: 5%;
}
#journal2 {
  padding-top: 5%;
}
.text {
  max-width: 600px;
  display: inline-block;
  vertical-align: top;
  padding-top: 5%;
  margin-left: 10px;
}
#avatarImg {
  width: 300px;
  float: right;
  margin-right: 430px;
}

footer {
  clear: both;
}
