div img {
  width: 300px;
}
#image1 {
  float: left;
  margin-top: 60px;
  margin-left: 60px;
}
#image2 {
  float: left;
  margin-top: 40px;
  margin-left: 60px;
}
#image3 {
  float: left;
  margin-top: 60px;
  margin-left: 60px;
}
.aquariumAvatar {
  width: 250px;
  margin-left: 40%;
  margin-top: -30px;
}
.aquariumButton {
  text-align: center;
  padding: 15px;
}
.aquarium h1 {
  text-align: center;
  font-size: 28px;
  font-family: 'Oxygen', sans-serif;
}
.aquarium {
  margin-top: -40px;
}
