* {
outline: 1px solid green;
}

section {
  width: 90%;
  border: none;
  position: relative;
  margin: 0 auto;
}

h1 {
  position: relative;
  font-size: 30px;
  text-align: center;
}

#Welcome {
padding-left: 5%;
padding-bottom: 5%;
}

#seattleCenter {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  display: block;
  padding: 5%;
}

.textContainer {
  max-width: 700px;
  display: inline-block;
  vertical-align: top;
  padding-top: 5%;
}

p {
  display: inline-block;
  padding: 20px;
}

div img {
  max-width: 400px;
  height: 300px;
  display: inline-block;
}

#div1 {
  padding-top: 20px;
}

#div2 {
  padding-top: 20px;
}

#div3 {
  padding-top: 20px;
}

#spaceNeedle {
  margin-right: 15px;
}

#fountain {
  margin-left: 15px;
  display: inline-block right;
}

#solarBloom {
  margin-right: 15px;
}

.story_icons {
  height: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#avatarImg {
  position: absolute;
  left: 10%;
  top: 80%;
  width: 300px;
  height: 300px%;
  clear: both;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 1240px) {
  .textContainer {
    max-width: 500px;
  }
/* Styles */
}
