h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

#Welcome {
padding-left: 5%;
padding-bottom: 0%;
}

#heroImage {
  max-width: 800px;
  height: 500px;
  margin: 0 auto;
  display: block;
  padding: 3%;
}

.textContainer {
  max-width: 658px;
  display: inline-block;
  vertical-align: top;
  padding-top: 5%;
}
.story_box {
  height: 10%;
  margin: 5% auto;
  max-width: 1115px;
}
#backButton {
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 5px;
}

button:hover {
  background-color: #ED6A5A;
}

h2 {
  font-size: 35px;
  text-align: left;
  font-weight: bold;
  padding: 10px;
}

p {
  font-size: 1.5em;
  line-height: 1.3em;
  max-width: 900px;
  display: inline-block;
  padding: 10px;
}

div img {
  max-width: 400px;
  height: 300px;
  display: inline-block;
}

#div1 {
  padding-top: 5%;
  display: inline-block;
  margin: 0 auto;
}

#div2 {
  padding-top: 5%;
  display: inline-block;
  margin: 0 auto;
}

#div3 {
  padding-top: 5%;
  display: inline-block;
  margin: 0 auto;
}

#image1 {
  margin-right: 15px;
}

#image2 {
  margin-left: 15px;
  display: inline-block right;
}

#image3 {
  margin-right: 15px;
}

#avatarImg {
  position: absolute;
  left: 65%;
  top: 75%;
  width: 300px;
  height: 300px;
}

 Smartphones (portrait) ----------- *
@media only screen and (max-width : 1240px) {
  .textContainer {
    max-width: 500px;
  }
