section {
  width: 1100px;
  height: 500px;
  border: none;
  position: relative;
  margin: 0 auto;
}

h1 {
  position: absolute;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;

}

#Welcome{
padding-left: 10%;
padding-bottom: 5%;
}

#seattleCenter {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  float: none;
  display: block;
  padding: 5%;
}

p {
  display: inline-block;
  padding: 20px;
}

p img {
  width: 100%;
  width: 400px;
  height: 300px;
  float: left;
}

#spaceNeedle {
  margin-right: 15px;
}

#fountain {
  float: right;
  margin-left: 15px;
}

#solarBloom {
  margin-right: 15px;
}

.story_icons {
  border: 5px solid lightcoral;
  height: 1000px;
}

#avatar {
  position: absolute;
  left: 0%;
  top: 50%;
}
